.navigation{
	background-color: whitesmoke;
}

#tasks{
	list-style-type: none;
	margin:0;
	padding:0;
	height:80vh;
	overflow-y:scroll;
}

#goal-title{
	color: #007bff;
	margin-left:1.5vh;
}

#goal-navigation{
	padding:0;
}

#goal-navigation a{
	margin:0;
	margin-left:1.5vh;
	padding:0;
}


.task-item{
	padding: 3vh;
	padding-left:0;
	margin-left:1.5vh;
	height: 9vh;
	border-top: 1px solid whitesmoke;
	vertical-align: bottom;
}

.task-item:hover{
	background-color: whitesmoke;
}

list-group ul li a{
	font-size:1em;
}

.taskCompleted{
	text-decoration-line: line-through;
}
