<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div id="goal-wrapper" class="row">
	<div id="goal-details" class="col-12 list-group">
		<h1 id="goal-title" *ngIf="goal.children">{{goal.title}} ({{goal.children.length}})</h1>
		<p class="task-item">{{goal.description}}</p>
		<div class="row">
			<div class="col-3">
				<p class="task-item">Remaining Work: {{goal.remainingWork}}</p>
			</div>
			<div class="col-3">
				<p class="task-item">Estimated Work: {{goal.estimatedWork}}</p>
			</div>
			<div class="col-3">
				<p class="task-item">Phase: {{goal.phase}}</p>
			</div>
			<div class="col-3">
				<p class="task-item">Due {{goal.dueDate}}</p>
			</div>
		</div>
		<p class="task-item">Progress: {{goal.progress}}</p>
		<p class="task-item">Justification: {{goal.justification}}</p>
		<p class="task-item">Ideal Outcome: {{goal.idealOutcome}}</p>
		<p class="task-item">Scope: {{goal.scope}}</p>
		<p class="task-item">Blocking Reason: {{goal.blockingReason}}</p>
		<p class="task-item">Replacement/Workaround: {{goal.replacement}}</p>
		<p class="task-item">isCompleted: {{goal.isCompleted}}</p>
		<p class="task-item">isReoccuring: {{goal.isReoccuring}}</p>
		<p class="task-item">Priority: {{goal.priority}}</p>
		<app-goals-list [goals]="goal.children"></app-goals-list>
		<a routerLink="/goals/{{goal.id}}/subGoals/add" id="addSubGoal" class="btn btn-link">Add SubGoal</a>
	</div>
</div>
<div class="row">
	<div id="goal-navigation" class="col-12">
		<div class="sticky-top">
			<a routerLink="/goals" id="backButton" class="btn btn-link">Back</a>
			<a routerLink="/goals/{{goal.id}}/edit" id="editButton" class="btn btn-link">Edit</a>
			<button id="deleteButton" (click)="deleteGoalByID()" class="btn btn-link">Delete</button>
		</div>
	</div>
</div>