<div class="row">
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editUrlModal">Edit Url</button>
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editResolutionModal">Edit
    Resolution</button>
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editPointsModal">Edit Points</button>
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addActionStepToHistoryModal">Add Action
    Step to History</button>
  <button type="button" class="btn btn-link" (click)="assignUrlToMe()"
    *ngIf='!url.assignee; else assignUrlToOpenTemplate'>Assign To Me</button>
  <ng-template #assignUrlToOpenTemplate>
    <button type="button" class="btn btn-link" id="assignUrlToOpenButton" (click)="assignUrlToOpen()">Assign To
      Open</button>
  </ng-template>

</div>
<div class="row">
  <div class="col-12">
    <h2>{{url.title}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p><span class="font-weight-bold">Id: </span>{{url.id}}</p>
    <p><span class="font-weight-bold">Url: </span><a href="{{url.url}}">{{url.url}}</a></p>
    <p><span class="font-weight-bold">Resolution: </span>{{url.resolution}}</p>
    <p><span class="font-weight-bold">Date of Creation: </span>{{url.createdAt}}</p>
    <p><span class="font-weight-bold">Next Action Steps: </span><button type="button" class="btn btn-link"
        data-toggle="modal" data-target="#completeNextActionStepsModal">{{url.nextActionSteps}}</button></p>
    <p><span class="font-weight-bold">Action Steps History: </span></p>
    <ul>
      <li *ngFor='let i of nextActionSteps'>
        <div [innerHTML]='i.nextActionStep'></div>
      </li>
    </ul>
  </div>
</div>

<div class="modal fade" id="editUrlModal" tabindex="-1" role="dialog" aria-labelledby="editUrlModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Url</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label for="urlTitleInput">Title: </label>
            <input type="text" name="" id="urlTitleInput" [(ngModel)]="url.title">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="urlUrlInput">Url: </label>
            <input type="text" id="urlUrlInput" [(ngModel)]="url.url">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="urlIssueIdInput">Issue Id: </label>
            <input type="text" id="urlIssueIdInput" [(ngModel)]="url.issue_id">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="urlResolutionIdInput">Resolution Id: </label>
            <input type="text" id="urlResolutionIdInput" [(ngModel)]="url.resolution_id">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="urlNextActionStepsInput">Next Action Steps:</label>
            <input type="text" name="" id="urlNextActionStepsInput" [(ngModel)]="url.nextActionSteps">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="ng-autocomplete">
            <ng-autocomplete class="form-control" placeHolder="resolutions" [data]="issues" [(ngModel)]='url.issue'
              [searchKeyword]="keyword2" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
              (selected)='onIssueItemsSelected($event)'>
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item"></a>

            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='editUrlById()'>Edit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editResolutionModal" tabindex="-1" role="dialog" aria-labelledby="editResolutionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Url</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="ng-autocomplete">
              <ng-autocomplete class="form-control" placeHolder="resolutions" [data]="data" [(ngModel)]='url.resolution'
                [searchKeyword]="keyword" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                (selected)='onSelected($event)'>
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item"></a>

              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='editResolutionByUrlId()'>Edit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="completeNextActionStepsModal" tabindex="-1" role="dialog"
  aria-labelledby="completeNextActionStepsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="completeNextActionStepsModalLabel">Complete Next Action Step</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p>{{url.nextActionSteps}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='completeNextActionStepsByUrlId()'>Complete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editPointsModal" tabindex="-1" role="dialog"
aria-labelledby="editPointsModal" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="editPointsModalLabel">Edit Points</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
          <input type="text" placeholder="enter the new points">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)='addActionStepToHistoryByUrlId()'>Edit</button>
    </div>
  </div>
</div>

<div class="modal fade" id="addActionStepToHistoryModal" tabindex="-1" role="dialog"
  aria-labelledby="addActionStepToHistoryModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addActionStepToHistoryModalLabel">Add Action Step to History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <label for="urlUrlInput"></label>
            <div id="addActionStepToHistoryInput">
              <p>Enter Action Step</p>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='addActionStepToHistoryByUrlId()'>Add</button>
      </div>
    </div>
  </div>
</div>