<div class="row">
	<div class="col-12 list-group">
		<h1 id="header">Add Goal</h1>
		<form #goalForm="ngForm">
			<textarea id="title" class="form-control" placeholder="title" [(ngModel)]="goal.title" name="title"></textarea>
			<textarea id="description" class="form-control" placeholder="description" [(ngModel)]="goal.description"
				name="description"></textarea>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<div class="sticky-top">
			<a routerLink="/goals" id="cancelButton" class="btn btn-link">Back</a>
			<button href="/#/goals/add?post" id="addButton" class="btn btn-link" (click)="addGoal()">Add</button>
		</div>
	</div>
</div>