<div class="row">
	<div class="col-12 list-group">
		<h1 id="header">{{header}} ({{goals.length}})</h1>
		<button class="btn btn-link" (click)="download()">Download to Excel</button>
		<div *ngIf='goals'>
			<app-goals-list *ngIf='goals' [goals]="goals" (refreshGoalList)="refreshGoalList($event)">
			</app-goals-list>
		</div>
	</div>
</div>
<div class="row">
	<div id="goals-navigation" class="col-12">
		<div class="sticky-top">
			<a routerLink="/goals/add" id="add-goal-button" class="btn btn-link"> Add Goal</a>
		</div>
	</div>
</div>