<ul class="goals">
  <li *ngFor='let goal of goals; let i = index'>
    <label for="expand_checkbox-{{goal.id}}">
        <input type="checkbox" id="expand_checkbox-{{goal.id}}" [checked]="goal.expand" [(ngModel)]="goal.expand" (change)="goal.expand ? true : false" hidden/>
        <span style="font-size: 2em; color: #007bff;">
            <i class="fas fa-angle-down"></i>
        </span>
    </label>
    <label for="complete_checkbox-{{goal.id}}">
        <input type="checkbox" id="complete_checkbox-{{goal.id}}" [checked]="goal.isCompleted" [(ngModel)]="goal.isCompleted"
        (change)="completeGoal(goal.isCompleted ? true : false, goal)" hidden/>    
      <span *ngIf="goal.isCompleted" style="font-size: 1.5em; color: #007bff;">
          <i class="fas fa-check-circle"></i>
      </span>
      <span *ngIf="!goal.isCompleted" style="font-size: 1.5em; color: gainsboro;">
          <i class="fas fa-check-circle"></i>
      </span>
    </label>
    <select id="priority" [(ngModel)]="goal.priority"  name="priority" (change)="goal.priority = i;jojo = 5;changePriority($event, goal)"
      >
      <option value="{{i}}" *ngFor="let goal of goals; let i = index">{{i}}</option>
    </select>
    <a href="/goals/{{goal.id}}" [class.completed]="goal.isCompleted" *ngIf="!goal.dueDate;else other_content">
      {{goal.title}} - ({{goal.children.length}})
    </a>
    <ng-template #other_content>
      <a href="/goals/{{goal.id}}" [class.completed]="goal.isCompleted">
        {{goal.title}} due: {{goal.dueDate}}
      </a>
    </ng-template>
    <button class="btn btn-link" (click)="addToDaily(goal)" *ngIf="!goal.isDaily;else isDaily">Add to daily</button>
    <ng-template #isDaily>
      <button class="btn btn-link" (click)="addToDaily(goal)">Remove from daily</button>
    </ng-template>
    <div *ngIf='goal.children && goal.expand'>
      <app-goals-list *ngIf='goal.children' [goals]="goal.children" (refreshGoalList)="refreshGoalList($event)">
      </app-goals-list>
    </div>
  </li>
</ul>