<div class="row">
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">Add Url</button>
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addTroubleshootingModal">Add Troubleshooting</button>
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editIssueModal">Edit Issue</button>
  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#referenceUrlModal">Reference Url</button>
</div>
<div class="row">
  <div class="col-12">
    <h1>
      Issue: {{issue.issue}}
    </h1>
    <h2>Id: {{issue.id}}</h2>
    <h2>Tags: {{issue.tags}}</h2>
  </div>
  <div class="col-12">
    <h3>Resolutions:</h3>
    <ul class="list-unstyled list-group list-group-flush">
      <li *ngFor='let resolution of resolutions' class="list-group-item">
        <p> {{resolution.resolution}} ({{resolution.count}})</p>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <h3>Troubleshootings:</h3>
    <ul class="list-unstyled list-group list-group-flush">
      <li *ngFor='let troubleshooting of troubleshootings' class="list-group-item">
        <p> {{troubleshooting.troubleshooting}}</p>
      </li>
    </ul>
  </div>
  <div class="col-12">
    <h3>Urls:</h3>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
          <tr>
              <th scope="col">#</th>
              <th scope="col">Url</th>
              <th scope="col">Resolution</th>
              <th scope="col">Title</th>
            </tr>
      </thead>
      <tbody>
        <tr *ngFor='let url of urls'>
          <td> <a href="/urls/{{url.id}}">{{url.id}}</a></td>
          <td><a href="{{url.url}}">{{url.url}}</a></td>
          <td><p>{{url.resolution}}</p></td>
          <td><p>{{url.title}}</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Add Url Modal -->
<div class="modal fade" id="referenceUrlModal" tabindex="-1" role="dialog" aria-labelledby="referenceUrlModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="referenceUrlLabel">Add Url</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="" id="urlInput" placeholder="enter url">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='referenceUrl()'>Reference</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Troubleshooting Modal -->
<div class="modal fade" id="addTroubleshootingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Troubleshooting</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="" id="urlInput" placeholder="troubleshooting" [(ngModel)]="troubleshooting">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='addTroubleshooting()'>Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Reference Url Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Url</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="" id="urlInput" placeholder="enter url">
        <input type="text" name="" id="urlTitleInput" placeholder="enter title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='addUrl()'>Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Issue Modal -->
<div class="modal fade" id="editIssueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Issue</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="" id="urlInput" placeholder="id" [(ngModel)]="issue.id">
        <input type="text" placeholder="issue" [(ngModel)]="issue.issue">
        <select name="" id="categoryInput" [(ngModel)]="issue.tags">
          <option value="{{issue.tags}}" selected>{{issue.tags}}</option>
          <option value="Unknown">Unknown</option>
          <option value="Administration">Administration</option>
          <option value="API">API</option>
          <option value="Billing & Subsciption">Billing & Subsciption</option>
          <option value="Mac Client">Mac Client</option>
          <option value="Mobile Client">Mobilie Client</option>
          <option value="Office Online Integration">Office Online Integration</option>
          <option value="Outlook Client">Outlook Client</option>
          <option value="Sharing">Sharing</option>
          <option value="Signing-In">Signing-In</option>
          <option value="Storage Connector">Storage Connector</option>
          <option value="Syncing">Syncing</option>
          <option value="Web Client">Web Client</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='editIssueById()'>Edit</button>
      </div>
    </div>
  </div>
</div>