<div class="row">
      <table class="table table-hover table-sm col-12">
            <thead>
                  <tr>
                        <th scope="col">#</th>
                        <th scope="col">Url</th>
                        <th scope="col">Title</th>
                        <th scope="col">Issue</th>
                        <th scope="col">Resolution</th>
                        <th scope="col">NextActionSteps</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor='let url of urls'>
                        <th scope="row"><a href="/urls/{{url.id}}">{{url.id}}</a></th>
                        <td><a href="{{url.url}}">{{url.url}}</a></td>
                        <td>{{url.title}}</td>
                        <td>{{url.issue}}</td>
                        <td>{{url.resolution}}</td>
                        <td>{{url.nextActionSteps}}</td>
                  </tr>
            </tbody>
      </table>
</div>