<div class="row">
      <ul class="list-unstyled list-group list-group-flush">
            <li *ngFor='let url of urls' class="list-group-item">
                  <article>
                        <p><b>id:</b> <a href="/urls/{{url.id}}">{{url.id}}</a></p>
                        <p><b>url:</b> <a href="{{url.url}}"> {{url.url}}</a></p>
                        <p><b>issue:</b> {{url.issue}}</p>
                        <p><b>resolution:</b> {{url.resolution}}</p>
                        <p><b>title:</b> {{url.title}}</p>
                  </article>
            </li>
      </ul>
</div>